* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: arial, sans-serif;
}

.container {
  background-color: #fff;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
}

.nav-bar {
  background-color: aqua;
  grid-row: 1/2;
  grid-column: 1/10;
}

.main-image {
  background-color: brown;
  grid-row: 2/4;
  grid-column: 4/7;
}

.search-bar {
  background-color: chartreuse;
  grid-row: 4/5;
  grid-column: 3/8;
}

.search-type {
  background-color: darkgoldenrod;
  grid-row: 5/6;
  grid-column: 4/7;
}

.language {
  background-color: darkgreen;
  grid-row: 6/7;
  grid-column: 4/7;
}

.footer-container {
  background-color: darkmagenta;
  grid-row: 9/10;
  grid-column: 1/10;
}
